* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  outline: none; }

body,
html {
  width: 100%;
  height: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif; }

.root {
  width: 100%;
  height: 56px;
  background-color: #fff; }
  .root ul.menu {
    position: relative; }
    .root ul.menu img {
      list-style: none;
      float: left;
      margin-left: 20%;
      margin-top: 7px; }
    .root ul.menu li {
      float: left;
      padding: 0px 20px;
      line-height: 56px;
      list-style: none; }
    .root ul.menu li a {
      text-decoration: none;
      color: #333; }
    .root ul.menu li img {
      margin-top: 100%; }
    .root ul.menu .subitem {
      margin-left: 45%; }

.roott {
  width: 100%;
  height: 56px;
  background: #e6e5e5;
  mix-blend-mode: normal;
  opacity: 0.9; }
  .roott-item {
    display: flex;
    position: relative;
    top: 8px;
    left: 0px; }
    .roott-item p {
      font-weight: bold;
      position: absolute;
      top: 10px;
      margin-left: 20%; }
    .roott-item img {
      position: absolute;
      margin-left: 20px;
      top: -15px; }
  .roott-button {
    margin-left: 63%;
    margin-top: 3px; }
    .roott-button * {
      padding: 0px 25px;
      text-decoration: none; }
    .roott-button a {
      color: #000; }
    .roott-button input[type="button"] {
      width: 122px;
      padding: 10px;
      background: #c15952;
      border-radius: 16px;
      border: none;
      color: #fff; }
  .roott img {
    height: 30px;
    margin-top: 10px; }

.contentt {
  background-image: url("../images/60X80 1.png");
  height: 1350px; }
  .contentt .content {
    background-image: url("../images/image4.png");
    width: 100%;
    height: 970px;
    background-size: cover; }
    .contentt .content .content1 {
      width: 100%;
      text-align: center; }
      .contentt .content .content1 h1 {
        position: relative;
        top: 50px;
        background: linear-gradient(to right, #1cafdd, #6ee3b5, #6ae0b5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-style: normal;
        font-weight: bold;
        font-size: 90px;
        line-height: 110px; }
      .contentt .content .content1 span {
        position: relative;
        top: 50px;
        color: #fff; }
    .contentt .content .content-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 780px; }
      .contentt .content .content-item .citem {
        width: 217px;
        height: 210px;
        margin-left: 30px;
        background: linear-gradient(180deg, rgba(0, 126, 242, 0.14) 0%, rgba(196, 196, 196, 0) 100%);
        border-radius: 10px;
        justify-content: center;
        text-align: center; }
        .contentt .content .content-item .citem img {
          position: relative;
          top: -30px; }
        .contentt .content .content-item .citem p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #ffffff; }
  .contentt .baohanh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px; }
    .contentt .baohanh .bh-item {
      color: white;
      margin-left: 40px;
      margin-right: 40px; }
      .contentt .baohanh .bh-item span {
        font-size: 70px; }
      .contentt .baohanh .bh-item img:nth-child(1) {
        width: 82px;
        height: 81px; }
      .contentt .baohanh .bh-item img:nth-child(2) {
        width: 67px;
        height: 73px; }
  .contentt .contentd {
    background-image: url("../images/60.png");
    background-size: cover;
    width: 100%;
    height: 1650px; }
    .contentt .contentd .imgg {
      text-align: center;
      margin-top: 38px; }
    .contentt .contentd .info1 {
      display: flex;
      justify-content: center;
      margin-top: 60px; }
      .contentt .contentd .info1 .infoo {
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 40vh; }
        .contentt .contentd .info1 .infoo:nth-child(1) {
          width: 350px;
          height: 219px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          color: #ffffff;
          margin-right: 100px; }
        .contentt .contentd .info1 .infoo:nth-child(2) {
          width: 455px;
          height: 231px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          color: #dfe3ee; }
    .contentt .contentd .info2 {
      text-align: center;
      justify-content: center; }
      .contentt .contentd .info2 .color {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .contentt .contentd .info2 .color .color-item:nth-child(1) {
          width: 92px;
          height: 80px;
          margin-left: 20px;
          margin-right: 20px; }
        .contentt .contentd .info2 .color .color-item {
          width: 74px;
          height: 80px;
          margin-left: 20px;
          margin-right: 20px;
          position: relative; }
          .contentt .contentd .info2 .color .color-item p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 550;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #ffffff; }
          .contentt .contentd .info2 .color .color-item:nth-child(1) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(206.57deg, rgba(9, 9, 9, 0) 0%, #3c3c3c 83.33%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
          .contentt .contentd .info2 .color .color-item:nth-child(2) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(218.45deg, #1f8692 0.61%, #1f8692 48.5%, #3859c2 77.87%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
          .contentt .contentd .info2 .color .color-item:nth-child(3) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(206.57deg, #0877b5 49.48%, rgba(31, 228, 200, 0.76) 83.33%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
          .contentt .contentd .info2 .color .color-item:nth-child(4) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(206.57deg, #7104a4 21.27%, rgba(46, 117, 193, 0.83) 83.33%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
  .contentt .contente .contentee {
    margin-top: 100px;
    display: flex; }
    .contentt .contente .contentee .info-item {
      flex: 1; }
    .contentt .contente .contentee .info-item:nth-child(1) {
      text-align: center; }
    .contentt .contente .contentee .info-item:nth-child(2) {
      margin-top: 80px;
      text-align: left; }
      .contentt .contente .contentee .info-item:nth-child(2) h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        color: #000000;
        width: 450px; }
      .contentt .contente .contentee .info-item:nth-child(2) p {
        width: 500px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 170%;
        /* or 31px */
        color: #2f2f2f; }
      .contentt .contente .contentee .info-item:nth-child(2) .box {
        width: 500px;
        display: flex;
        flex-wrap: wrap; }
        .contentt .contente .contentee .info-item:nth-child(2) .box .box-item {
          width: 228px;
          height: 70px;
          background: #ffffff;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          margin: 5px;
          text-align: center; }
          .contentt .contente .contentee .info-item:nth-child(2) .box .box-item span {
            position: relative;
            top: 20px; }
  .contentt .contente .contentef {
    margin-top: 100px;
    height: 2000px;
    display: flex; }
    .contentt .contente .contentef .info-item {
      flex: 1; }
      .contentt .contente .contentef .info-item:nth-child(1) {
        margin-top: 90px; }
      .contentt .contente .contentef .info-item:nth-child(2) {
        position: relative; }
        .contentt .contente .contentef .info-item:nth-child(2) img {
          position: absolute;
          top: 0px;
          right: 0px; }
      .contentt .contente .contentef .info-item .info-in {
        margin-left: 190px; }
        .contentt .contente .contentef .info-item .info-in h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          width: 470px;
          color: #000000; }
        .contentt .contente .contentef .info-item .info-in p:nth-child(3) {
          width: 520px;
          height: 58px; }
        .contentt .contente .contentef .info-item .info-in p:nth-child(5) {
          width: 462px;
          height: 138px; }
        .contentt .contente .contentef .info-item .info-in p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 170%;
          color: #2f2f2f; }
  .contentt .contente .contenteg {
    display: flex;
    height: 900px; }
    .contentt .contente .contenteg .info-item {
      flex: 1; }
      .contentt .contente .contenteg .info-item:nth-child(1) {
        margin-top: 90px; }
      .contentt .contente .contenteg .info-item:nth-child(2) {
        position: relative; }
        .contentt .contente .contenteg .info-item:nth-child(2) img {
          margin-left: 150px; }
        .contentt .contente .contenteg .info-item:nth-child(2) .selectimg {
          display: flex;
          margin-left: 150px;
          width: 300px;
          margin-top: 20px; }
          .contentt .contente .contenteg .info-item:nth-child(2) .selectimg .sss {
            flex-wrap: wrap;
            width: 109px;
            height: 4px;
            background: #e6e6e6;
            border-radius: 21px;
            margin: 10px; }
            .contentt .contente .contenteg .info-item:nth-child(2) .selectimg .sss:nth-child(1) {
              background: #00d2c6;
              border-radius: 21px; }
      .contentt .contente .contenteg .info-item .info-in {
        margin-left: 190px; }
        .contentt .contente .contenteg .info-item .info-in h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          width: 470px;
          color: #000000; }
        .contentt .contente .contenteg .info-item .info-in p:nth-child(3) {
          width: 520px;
          height: 58px; }
        .contentt .contente .contenteg .info-item .info-in p:nth-child(5) {
          width: 462px;
          height: 138px; }
        .contentt .contente .contenteg .info-item .info-in p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 170%;
          color: #2f2f2f; }
  .contentt .contente .content2 {
    background-image: url("../images/60X80 2.png");
    background-size: cover;
    height: 3941px; }
    .contentt .contente .content2 .contenth {
      display: flex;
      height: 1600px; }
      .contentt .contente .content2 .contenth .info-item {
        flex: 1; }
        .contentt .contente .content2 .contenth .info-item:nth-child(1) {
          margin-top: 90px; }
        .contentt .contente .content2 .contenth .info-item:nth-child(2) {
          position: relative; }
          .contentt .contente .content2 .contenth .info-item:nth-child(2) img {
            position: absolute;
            right: 0px;
            height: 100%; }
          .contentt .contente .content2 .contenth .info-item:nth-child(2) .selectimg {
            display: flex;
            margin-left: 10px; }
            .contentt .contente .content2 .contenth .info-item:nth-child(2) .selectimg .sss {
              flex-wrap: wrap;
              width: 109px;
              height: 4px;
              background: #e6e6e6;
              border-radius: 21px;
              margin: 10px; }
              .contentt .contente .content2 .contenth .info-item:nth-child(2) .selectimg .sss:nth-child(1) {
                background: #00d2c6;
                border-radius: 21px; }
        .contentt .contente .content2 .contenth .info-item .info-in {
          margin-left: 190px; }
          .contentt .contente .content2 .contenth .info-item .info-in h2 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            color: #ffffff; }
          .contentt .contente .content2 .contenth .info-item .info-in p {
            width: 400px;
            height: 198px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 170%;
            /* or 34px */
            color: #dfe3ee; }
    .contentt .contente .content2 .contenti {
      width: 100%; }
      .contentt .contente .content2 .contenti img {
        position: relative;
        z-index: -9; }
      .contentt .contente .content2 .contenti .itemii {
        position: relative;
        width: 100%;
        z-index: 9; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(1) {
          position: absolute;
          top: -45px;
          left: 28.7%; }
        .contentt .contente .content2 .contenti .itemii .info-item span {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          line-height: 90%;
          color: #ffffff; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(1) p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 90%;
          color: #ffffff; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(1) .circle {
          width: 12px;
          height: 12px;
          position: relative;
          right: 31px;
          border: 2px solid #00d2c6;
          box-sizing: border-box;
          border-radius: 50%; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(1) .line1 {
          width: 480px;
          height: 0px;
          position: relative;
          right: 20px;
          bottom: 6.5px;
          border: 0.1px solid #00d2c6;
          transform: rotate(180deg); }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(1) .line2 {
          width: 462.33px;
          height: 0px;
          position: relative;
          top: 208px;
          left: 309px;
          border: 0.1px solid #00d2c6;
          transform: rotate(-110.42deg); }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(1) .lcircle {
          width: 92px;
          height: 92px;
          border-radius: 50%;
          border: 2px solid #00d2c6;
          box-sizing: border-box;
          position: relative;
          top: 424px;
          left: 574px; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(2) p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 90%;
          color: #ffffff; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(2) .circle {
          width: 12px;
          height: 12px;
          border: 2px solid #00d2c6;
          box-sizing: border-box;
          border-radius: 50%; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(2) .line1 {
          width: 480px;
          height: 0px;
          position: relative;
          right: 20px;
          bottom: 6.5px;
          border: 0.1px solid #00d2c6;
          transform: rotate(180deg); }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(2) .line2 {
          width: 333.04px;
          height: 0px;
          position: relative;
          top: 147px;
          left: 351px;
          border: 0.1px solid #00d2c6;
          transform: rotate(-110.42deg); }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(2) .lcircle {
          width: 92px;
          height: 92px;
          border-radius: 50%;
          border: 2px solid #00d2c6;
          box-sizing: border-box;
          position: relative;
          top: 302px;
          left: 532px; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(3) p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 90%;
          color: #ffffff; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(3) .circle {
          width: 12px;
          height: 12px;
          border: 2px solid #00d2c6;
          box-sizing: border-box;
          border-radius: 50%; }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(3) .line1 {
          width: 466px;
          height: 0px;
          position: relative;
          right: 20px;
          bottom: 6.5px;
          border: 0.1px solid #00d2c6;
          transform: rotate(180deg); }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(3) .line2 {
          width: 200.61px;
          height: 0px;
          position: relative;
          top: 86px;
          left: 380px;
          border: 0.1px solid #00d2c6;
          transform: rotate(-110.42deg); }
        .contentt .contente .content2 .contenti .itemii .info-item:nth-child(3) .lcircle {
          width: 92px;
          height: 92px;
          border-radius: 50%;
          border: 2px solid #00d2c6;
          box-sizing: border-box;
          position: relative;
          top: 178px;
          left: 470px; }
      .contentt .contente .content2 .contenti .iimg.imgdt img {
        width: 100%; }
    .contentt .contente .content2 .contentj {
      background-image: url("../images/active3-bat-tron-khung-hinh-bg.jpg");
      width: 100%;
      height: 1180px;
      background-size: cover;
      background-position-x: -1.5px;
      text-align: center; }
      .contentt .contente .content2 .contentj h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        margin: 0 auto;
        color: #ffffff;
        width: 402px;
        height: 122px;
        position: relative;
        top: 120px; }
      .contentt .contente .content2 .contentj p {
        position: relative;
        top: 200px;
        width: 699px;
        height: 127px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 170%;
        margin: 0 auto;
        /* or 34px */
        color: #dfe3ee; }
    .contentt .contente .content2 .contentimgk {
      background-color: #e5e5e5; }
      .contentt .contente .content2 .contentimgk .contentk {
        text-align: center; }
        .contentt .contente .content2 .contentimgk .contentk h2 {
          width: 464px;
          height: 122px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          text-align: center;
          margin: 0 auto;
          color: #000000; }
        .contentt .contente .content2 .contentimgk .contentk p {
          width: 711px;
          height: 138px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          margin: 0 auto;
          text-align: center;
          color: #2f2f2f;
          margin-bottom: 50px; }
        .contentt .contente .content2 .contentimgk .contentk .backimg {
          width: 100%;
          max-width: 100%;
          height: 783px;
          background-image: url("../images/active3-camera-goc-rong-2.png");
          background-size: cover; }
    .contentt .contente .content2 .contentl {
      display: flex;
      width: 1000px;
      margin: 0 auto; }
      .contentt .contente .content2 .contentl .item-info {
        flex: 1; }
        .contentt .contente .content2 .contentl .item-info:nth-child(1) h2 {
          width: 461px;
          height: 122px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          color: #000000; }
        .contentt .contente .content2 .contentl .item-info:nth-child(2) p {
          width: 347px;
          height: 138px;
          margin: 0 auto;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          /* or 34px */
          color: #2f2f2f; }
    .contentt .contente .content2 .contentm {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 50px;
      margin-bottom: 229px; }
      .contentt .contente .content2 .contentm img {
        margin: 10px; }
    .contentt .contente .content2 .contentn {
      display: flex; }
      .contentt .contente .content2 .contentn .item-info {
        flex: 1; }
        .contentt .contente .content2 .contentn .item-info:nth-child(1) {
          text-align: center; }
          .contentt .contente .content2 .contentn .item-info:nth-child(1) .selectimg {
            display: flex;
            justify-content: center; }
            .contentt .contente .content2 .contentn .item-info:nth-child(1) .selectimg .sss {
              flex-wrap: wrap;
              width: 109px;
              height: 4px;
              background: #e6e6e6;
              border-radius: 21px;
              margin: 10px; }
              .contentt .contente .content2 .contentn .item-info:nth-child(1) .selectimg .sss:nth-child(1) {
                background: #00d2c6;
                border-radius: 21px; }
        .contentt .contente .content2 .contentn .item-info:nth-child(2) h2 {
          width: 456px;
          height: 183px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          color: #000000; }
        .contentt .contente .content2 .contentn .item-info:nth-child(2) p {
          width: 466px;
          height: 85px;
          margin-top: 30px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          /* or 34px */
          display: flex;
          align-items: center;
          color: #2f2f2f; }
    .contentt .contente .content2 .footer {
      background: #bf5955;
      height: 260px;
      border-radius: 0px 0px 20px 20px; }
      .contentt .contente .content2 .footer .f1 {
        height: 41px; }
        .contentt .contente .content2 .footer .f1 p {
          width: 239px;
          height: 22px;
          line-height: 41px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          margin-left: 300px;
          color: #ffffff; }
      .contentt .contente .content2 .footer .f2 {
        height: 70px;
        background-color: #b6b6b6; }
        .contentt .contente .content2 .footer .f2 p {
          text-align: center;
          font-size: 15px;
          line-height: 70px; }
      .contentt .contente .content2 .footer .f3 {
        display: flex;
        background-color: white;
        border-radius: 0px 0px 20px 20px;
        height: 130px; }
        .contentt .contente .content2 .footer .f3 .f-item {
          flex-wrap: wrap;
          margin-left: 240px;
          position: relative;
          left: 90px;
          top: 30px; }
          .contentt .contente .content2 .footer .f3 .f-item:nth-child(1) form select {
            width: 230px;
            height: 30px; }
          .contentt .contente .content2 .footer .f3 .f-item:nth-child(1) .icon {
            margin-left: -20px; }
            .contentt .contente .content2 .footer .f3 .f-item:nth-child(1) .icon svg {
              margin: 20px;
              font-size: 30px; }
          .contentt .contente .content2 .footer .f3 .f-item:nth-child(2) p {
            color: black;
            font-weight: bold; }
          .contentt .contente .content2 .footer .f3 .f-item:nth-child(3) p {
            color: black;
            font-weight: bold; }
        .contentt .contente .content2 .footer .f3 .iconn {
          position: relative;
          top: 0px; }
          .contentt .contente .content2 .footer .f3 .iconn img {
            position: absolute;
            top: 80px;
            left: 250px; }
  .contentt .contente .contento {
    background-image: url("../images/Rectangle 95.png");
    width: 100%;
    height: 1500px; }
    .contentt .contente .contento .contento1 {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      width: 0px; }
      .contentt .contente .contento .contento1 .item-info {
        flex: 1; }
        .contentt .contente .contento .contento1 .item-info:nth-child(1) {
          margin-top: 100px;
          color: white;
          margin-left: 100px; }
          .contentt .contente .contento .contento1 .item-info:nth-child(1) h2 {
            width: 465px;
            height: 122px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            color: #ffffff; }
          .contentt .contente .contento .contento1 .item-info:nth-child(1) p {
            width: 466px;
            height: 164px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 170%;
            /* or 34px */
            color: #dfe3ee; }
    .contentt .contente .contento .content02 {
      display: flex;
      justify-content: center; }
      .contentt .contente .contento .content02 .item-info {
        flex-wrap: wrap; }
        .contentt .contente .contento .content02 .item-info:nth-child(1) {
          width: 467px;
          height: 122px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 40px;
          line-height: 61px;
          display: flex;
          align-items: center;
          color: #ffffff; }
        .contentt .contente .contento .content02 .item-info:nth-child(2) {
          width: 676px;
          height: 138px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          /* or 34px */
          color: #dfe3ee; }
    .contentt .contente .contento .content03 {
      justify-content: center;
      text-align: center;
      margin: 0 auto; }
      .contentt .contente .contento .content03 .item {
        display: flex;
        justify-content: center;
        margin-right: 290px; }
        .contentt .contente .contento .content03 .item .item-info {
          flex-wrap: wrap;
          margin-top: 30px;
          margin-left: 60px;
          margin-right: 60px; }
          .contentt .contente .contento .content03 .item .item-info .line {
            width: 100px;
            height: 3px; }
          .contentt .contente .contento .content03 .item .item-info p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: #ffffff;
            opacity: 0.6; }
          .contentt .contente .contento .content03 .item .item-info:nth-child(1) .line {
            background: linear-gradient(206.57deg, rgba(46, 117, 193, 0.83) 0%, #7104a4 83.33%);
            border-radius: 4px; }
          .contentt .contente .contento .content03 .item .item-info:nth-child(2) .line {
            background: linear-gradient(206.57deg, rgba(31, 228, 200, 0.76) 0%, #0877b5 83.33%);
            border-radius: 4px; }
          .contentt .contente .contento .content03 .item .item-info:nth-child(3) .line {
            background: linear-gradient(184.07deg, #0fb9de 0%, #3859c2 96.68%);
            border-radius: 4px; }
          .contentt .contente .contento .content03 .item .item-info:nth-child(4) .line {
            background: linear-gradient(206.57deg, rgba(9, 9, 9, 0) 0%, #3c3c3c 83.33%);
            border-radius: 4px; }
        .contentt .contente .contento .content03 .item h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 39px;
          /* identical to box height */
          color: #ffffff; }
  .contentt .contente .contentp {
    margin: 0 auto;
    height: 1250px;
    text-align: center;
    position: relative;
    top: 170px; }
    .contentt .contente .contentp h2 {
      text-align: center;
      width: 470px;
      height: 122px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      line-height: 61px;
      margin: 0 auto;
      color: #000000; }
    .contentt .contente .contentp .logo {
      display: flex;
      justify-content: center;
      margin-bottom: 30px; }
      .contentt .contente .contentp .logo span {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 100;
        font-size: 48px;
        line-height: 59px;
        /* identical to box height */
        text-align: center;
        color: #9a9a9a;
        position: relative;
        top: 50px; }
    .contentt .contente .contentp p {
      margin-top: 20px;
      width: 714px;
      height: 138px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 170%;
      /* or 34px */
      margin: 0 auto;
      color: #2f2f2f; }

@media only screen and (max-width: 1145px) {
  .root {
    height: 100%; }
    .root ul.menu img {
      float: none;
      display: flex;
      margin: 0 auto; }
    .root ul.menu li {
      float: none; }
    .root ul.menu .subitem {
      margin-left: 0%; }
  .contentef .info-item .info-in {
    margin-left: 20% !important; }
    .contentef .info-item .info-in h2 {
      width: 440px !important; }
    .contentef .info-item .info-in p:nth-child(3) {
      width: 390px !important;
      height: 80px !important; }
    .contentef .info-item .info-in p:nth-child(5) {
      width: 390px !important; }
  .contenteg {
    width: 100%; }
    .contenteg .info-item {
      flex: 1; }
      .contenteg .info-item img {
        margin-left: 0px !important; }
      .contenteg .info-item .selectimg {
        margin-left: 20px !important; }
      .contenteg .info-item .info-in {
        margin-left: 20% !important; }
        .contenteg .info-item .info-in h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          width: 400px !important;
          color: #000000; }
        .contenteg .info-item .info-in p:nth-child(3) {
          width: 390px !important;
          height: 78px !important; }
        .contenteg .info-item .info-in p:nth-child(5) {
          width: 390px !important;
          height: 138px; }
        .contenteg .info-item .info-in p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 170%;
          color: #2f2f2f; }
  .contenth .info-item:nth-child(2) img {
    position: absolute;
    right: 0px;
    width: 80%; }
  .contenth .info-item .info-in {
    margin-left: 20% !important; } }
