* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

.root {
  width: 100%;
  height: 56px;
  background-color: #fff; }
  .root ul.menu {
    position: relative; }
    .root ul.menu img {
      list-style: none;
      float: left;
      margin-left: 20%;
      margin-top: 7px; }
    .root ul.menu li {
      float: left;
      padding: 0px 20px;
      line-height: 56px;
      list-style: none; }
    .root ul.menu li a {
      text-decoration: none;
      color: #0000a5; }
    .root ul.menu li img {
      margin-top: 100%; }
    .root ul.menu .subitem {
      margin-left: 45%; }

.roott {
  width: 100%;
  height: 56px;
  background: #cac7c7;
  mix-blend-mode: normal;
  opacity: 0.9; }

.roott-item {
  display: flex;
  position: relative;
  top: 8px;
  left: 0px; }

.roott-item p {
  position: absolute;
  top: 10px;
  margin-left: 20%; }

.roott-item img {
  position: absolute;
  top: -15px; }

.roott-button {
  margin-left: 60%; }
  .roott-button * {
    padding: 0px 20px; }
  .roott-button input[type='button'] {
    width: 122px;
    padding: 10px;
    background: #C15952;
    border-radius: 16px; }

.roott img {
  height: 30px;
  margin-top: 10px; }
