* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body, html {
  width: 100%;
  height: 100%; }

.root {
  width: 100%;
  height: 56px;
  background-color: brown; }

ul.menu {
  height: 100%;
  display: flex;
  align-items: center; }
  ul.menu img {
    margin-left: 15vw; }
  ul.menu li {
    list-style: none;
    margin-left: 3vw; }
    ul.menu li a {
      text-decoration: none;
      color: #030396; }
