* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  outline: none; }

body,
html {
  width: 100%;
  height: 100%;
  outline: none;
  font-family: "Montserrat", sans-serif; }

.root {
  width: 100%;
  height: 56px;
  background-color: #fff; }
  .root ul.menu {
    position: relative; }
    .root ul.menu img {
      list-style: none;
      float: left;
      margin-left: 20%;
      margin-top: 7px; }
    .root ul.menu li {
      float: left;
      padding: 0px 20px;
      line-height: 56px;
      list-style: none; }
    .root ul.menu li a {
      text-decoration: none;
      color: #333; }
    .root ul.menu li img {
      margin-top: 100%; }
    .root ul.menu .subitem {
      margin-left: 45%; }

.roott {
  width: 100%;
  height: 56px;
  background: #e6e5e5;
  mix-blend-mode: normal;
  opacity: 0.9; }
  .roott-item {
    display: flex;
    position: relative;
    top: 8px;
    left: 0px; }
    .roott-item p {
      font-weight: bold;
      position: absolute;
      top: 10px;
      margin-left: 20%; }
    .roott-item img {
      position: absolute;
      margin-left: 20px;
      top: -15px; }
  .roott-button {
    margin-left: 63%;
    margin-top: 3px; }
    .roott-button * {
      padding: 0px 25px;
      text-decoration: none; }
    .roott-button a {
      color: #000; }
    .roott-button input[type="button"] {
      width: 122px;
      padding: 10px;
      background: #c15952;
      border-radius: 16px;
      border: none;
      color: #fff; }
  .roott img {
    height: 30px;
    margin-top: 10px; }

.contentt {
  background-image: url("../images/60X80 1.png");
  height: 1350px; }
  .contentt .content {
    background-image: url("../images/image4.png");
    width: 100%;
    height: 970px;
    background-size: cover; }
    .contentt .content .content1 {
      width: 100%;
      text-align: center; }
      .contentt .content .content1 h1 {
        position: relative;
        top: 50px;
        background: linear-gradient(to right, #1cafdd, #6ee3b5, #6ae0b5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-style: normal;
        font-weight: bold;
        font-size: 90px;
        line-height: 110px; }
      .contentt .content .content1 span {
        position: relative;
        top: 50px;
        color: #fff; }
    .contentt .content .content-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 780px; }
      .contentt .content .content-item .citem {
        width: 217px;
        height: 210px;
        margin-left: 30px;
        background: linear-gradient(180deg, rgba(0, 126, 242, 0.14) 0%, rgba(196, 196, 196, 0) 100%);
        border-radius: 10px;
        justify-content: center;
        text-align: center; }
        .contentt .content .content-item .citem img {
          position: relative;
          top: -30px; }
        .contentt .content .content-item .citem p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #ffffff; }
  .contentt .baohanh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px; }
    .contentt .baohanh .bh-item {
      color: white;
      margin-left: 40px;
      margin-right: 40px; }
      .contentt .baohanh .bh-item span {
        font-size: 70px; }
      .contentt .baohanh .bh-item img:nth-child(1) {
        width: 82px;
        height: 81px; }
      .contentt .baohanh .bh-item img:nth-child(2) {
        width: 67px;
        height: 73px; }
  .contentt .contentd {
    background-image: url("../images/60.png");
    background-size: cover;
    width: 100%;
    height: 1650px; }
    .contentt .contentd .imgg {
      text-align: center;
      margin-top: 38px; }
    .contentt .contentd .info1 {
      display: flex;
      justify-content: center;
      margin-top: 60px; }
      .contentt .contentd .info1 .infoo {
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 40vh; }
        .contentt .contentd .info1 .infoo:nth-child(1) {
          width: 350px;
          height: 219px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          color: #ffffff;
          margin-right: 100px; }
        .contentt .contentd .info1 .infoo:nth-child(2) {
          width: 455px;
          height: 231px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 170%;
          color: #dfe3ee; }
    .contentt .contentd .info2 {
      text-align: center;
      justify-content: center; }
      .contentt .contentd .info2 .color {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; }
        .contentt .contentd .info2 .color .color-item:nth-child(1) {
          width: 92px;
          height: 80px;
          margin-left: 20px;
          margin-right: 20px; }
        .contentt .contentd .info2 .color .color-item {
          width: 74px;
          height: 80px;
          margin-left: 20px;
          margin-right: 20px;
          position: relative; }
          .contentt .contentd .info2 .color .color-item p {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 550;
            font-size: 18px;
            line-height: 22px;
            text-align: center;
            color: #ffffff; }
          .contentt .contentd .info2 .color .color-item:nth-child(1) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(206.57deg, rgba(9, 9, 9, 0) 0%, #3c3c3c 83.33%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
          .contentt .contentd .info2 .color .color-item:nth-child(2) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(218.45deg, #1f8692 0.61%, #1f8692 48.5%, #3859c2 77.87%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
          .contentt .contentd .info2 .color .color-item:nth-child(3) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(206.57deg, #0877b5 49.48%, rgba(31, 228, 200, 0.76) 83.33%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
          .contentt .contentd .info2 .color .color-item:nth-child(4) .color-i {
            width: 20px;
            height: 20px;
            background: linear-gradient(206.57deg, #7104a4 21.27%, rgba(46, 117, 193, 0.83) 83.33%);
            border-radius: 4px;
            transform: matrix(1, 0, 0, -1, 0, 0);
            position: absolute;
            top: 60px;
            left: 40%; }
  .contentt .contente .contentee {
    margin-top: 100px;
    display: flex; }
    .contentt .contente .contentee .info-item {
      flex: 1; }
    .contentt .contente .contentee .info-item:nth-child(1) {
      text-align: center; }
    .contentt .contente .contentee .info-item:nth-child(2) {
      margin-top: 80px;
      text-align: left; }
      .contentt .contente .contentee .info-item:nth-child(2) h2 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 50px;
        line-height: 61px;
        color: #000000;
        width: 450px; }
      .contentt .contente .contentee .info-item:nth-child(2) p {
        width: 500px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 170%;
        /* or 31px */
        color: #2F2F2F; }
      .contentt .contente .contentee .info-item:nth-child(2) .box {
        width: 500px;
        display: flex;
        flex-wrap: wrap; }
        .contentt .contente .contentee .info-item:nth-child(2) .box .box-item {
          width: 228px;
          height: 70px;
          background: #FFFFFF;
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          border-radius: 5px;
          margin: 5px;
          text-align: center; }
          .contentt .contente .contentee .info-item:nth-child(2) .box .box-item span {
            position: relative;
            top: 20px; }
  .contentt .contente .contentef {
    margin-top: 100px;
    height: 2000px;
    display: flex; }
    .contentt .contente .contentef .info-item {
      flex: 1; }
      .contentt .contente .contentef .info-item:nth-child(1) {
        margin-top: 90px; }
      .contentt .contente .contentef .info-item:nth-child(2) {
        position: relative; }
        .contentt .contente .contentef .info-item:nth-child(2) img {
          position: absolute;
          top: 0px;
          right: 0px; }
      .contentt .contente .contentef .info-item .info-in {
        margin-left: 190px; }
        .contentt .contente .contentef .info-item .info-in h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          width: 470px;
          color: #000000; }
        .contentt .contente .contentef .info-item .info-in p:nth-child(3) {
          width: 520px;
          height: 58px; }
        .contentt .contente .contentef .info-item .info-in p:nth-child(5) {
          width: 462px;
          height: 138px; }
        .contentt .contente .contentef .info-item .info-in p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 170%;
          color: #2F2F2F; }
  .contentt .contente .contenteg {
    display: flex;
    height: 900px; }
    .contentt .contente .contenteg .info-item {
      flex: 1; }
      .contentt .contente .contenteg .info-item:nth-child(1) {
        margin-top: 90px; }
      .contentt .contente .contenteg .info-item:nth-child(2) {
        position: relative; }
        .contentt .contente .contenteg .info-item:nth-child(2) img {
          margin-left: 110px; }
        .contentt .contente .contenteg .info-item:nth-child(2) .selectimg {
          display: flex;
          margin-left: 100px;
          margin-top: 20px; }
          .contentt .contente .contenteg .info-item:nth-child(2) .selectimg .sss {
            flex-wrap: wrap;
            width: 109px;
            height: 4px;
            background: #E6E6E6;
            border-radius: 21px;
            margin: 10px; }
            .contentt .contente .contenteg .info-item:nth-child(2) .selectimg .sss:nth-child(1) {
              background: #00D2C6;
              border-radius: 21px; }
      .contentt .contente .contenteg .info-item .info-in {
        margin-left: 190px; }
        .contentt .contente .contenteg .info-item .info-in h2 {
          font-family: Montserrat;
          font-style: normal;
          font-weight: bold;
          font-size: 50px;
          line-height: 61px;
          width: 470px;
          color: #000000; }
        .contentt .contente .contenteg .info-item .info-in p:nth-child(3) {
          width: 520px;
          height: 58px; }
        .contentt .contente .contenteg .info-item .info-in p:nth-child(5) {
          width: 462px;
          height: 138px; }
        .contentt .contente .contenteg .info-item .info-in p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 170%;
          color: #2F2F2F; }
  .contentt .contente .content2 {
    background-image: url("../images/60X80 2.png"); }
    .contentt .contente .content2 .contenth {
      display: flex;
      height: 1800px; }
      .contentt .contente .content2 .contenth .info-item {
        flex: 1; }
        .contentt .contente .content2 .contenth .info-item:nth-child(1) {
          margin-top: 90px; }
        .contentt .contente .content2 .contenth .info-item:nth-child(2) {
          position: relative; }
          .contentt .contente .content2 .contenth .info-item:nth-child(2) img {
            margin-left: 110px; }
          .contentt .contente .content2 .contenth .info-item:nth-child(2) .selectimg {
            display: flex;
            margin-left: 100px; }
            .contentt .contente .content2 .contenth .info-item:nth-child(2) .selectimg .sss {
              flex-wrap: wrap;
              width: 109px;
              height: 4px;
              background: #E6E6E6;
              border-radius: 21px;
              margin: 10px; }
              .contentt .contente .content2 .contenth .info-item:nth-child(2) .selectimg .sss:nth-child(1) {
                background: #00D2C6;
                border-radius: 21px; }
        .contentt .contente .content2 .contenth .info-item .info-in {
          margin-left: 190px; }
          .contentt .contente .content2 .contenth .info-item .info-in h2 {
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 50px;
            line-height: 61px;
            color: #FFFFFF; }
          .contentt .contente .content2 .contenth .info-item .info-in p {
            width: 496px;
            height: 198px;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 170%;
            /* or 34px */
            color: #DFE3EE; }
    .contentt .contente .content2 .contenti .info-item {
      line-height: 39px;
      color: #FFFFFF; }
      .contentt .contente .content2 .contenti .info-item:nth-child(1) {
        margin-left: 450px; }
      .contentt .contente .content2 .contenti .info-item p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 32px; }
