* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

*,
*::before,
*::after {
  outline: none; }

body, html {
  width: 100%;
  height: 100%;
  outline: none;
  font-family: 'Montserrat', sans-serif; }

.root {
  width: 100%;
  height: 56px;
  background-color: #fff; }
  .root ul.menu {
    position: relative; }
    .root ul.menu img {
      list-style: none;
      float: left;
      margin-left: 20%;
      margin-top: 7px; }
    .root ul.menu li {
      float: left;
      padding: 0px 20px;
      line-height: 56px;
      list-style: none; }
    .root ul.menu li a {
      text-decoration: none;
      color: #333; }
    .root ul.menu li img {
      margin-top: 100%; }
    .root ul.menu .subitem {
      margin-left: 45%; }

.roott {
  width: 100%;
  height: 56px;
  background: #cac7c7;
  mix-blend-mode: normal;
  opacity: 0.9; }

.roott-item {
  display: flex;
  position: relative;
  top: 8px;
  left: 0px; }

.roott-item p {
  font-weight: bold;
  position: absolute;
  top: 10px;
  margin-left: 20%; }

.roott-item img {
  position: absolute;
  top: -15px; }

.roott-button {
  margin-left: 63%;
  margin-top: 3px; }
  .roott-button * {
    padding: 0px 25px;
    text-decoration: none; }
  .roott-button a {
    color: #000; }
  .roott-button input[type='button'] {
    width: 122px;
    padding: 10px;
    background: #C15952;
    border-radius: 16px;
    border: none;
    color: #fff; }

.roott img {
  height: 30px;
  margin-top: 10px; }

.contentt {
  background-image: url("../images/60X80 1.png"); }
  .contentt .content {
    background-image: url("../images/image4.png");
    width: 100%;
    height: 970px; }
    .contentt .content .content1 {
      width: 100%;
      text-align: center; }
      .contentt .content .content1 h1 {
        position: relative;
        top: 50px;
        background: linear-gradient(to right, #1CAFDD, #6EE3B5, #6AE0B5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-style: normal;
        font-weight: bold;
        font-size: 90px;
        line-height: 110px; }
      .contentt .content .content1 span {
        position: relative;
        top: 50px;
        color: #fff; }
    .contentt .content .content-item {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 750px; }
      .contentt .content .content-item .citem {
        width: 217px;
        height: 210px;
        margin-left: 30px;
        background: linear-gradient(180deg, rgba(0, 126, 242, 0.14) 0%, rgba(196, 196, 196, 0) 100%);
        border-radius: 10px;
        justify-content: center;
        text-align: center; }
        .contentt .content .content-item .citem img {
          position: relative;
          top: -30px; }
        .contentt .content .content-item .citem p {
          font-family: Montserrat;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 140%;
          text-align: center;
          color: #FFFFFF; }
  .contentt .baohanh {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 200px; }
    .contentt .baohanh .bh-item {
      color: white;
      margin-left: 40px;
      margin-right: 40px; }
      .contentt .baohanh .bh-item span {
        font-size: 70px; }
      .contentt .baohanh .bh-item img:nth-child(1) {
        width: 82px;
        height: 81px; }
      .contentt .baohanh .bh-item img:nth-child(2) {
        width: 67px;
        height: 73px; }
  .contentt .contentd {
    background-image: url("../images/60X80 3.png");
    width: 100%;
    height: 900px; }
    .contentt .contentd .imgg {
      text-align: center;
      margin-top: 38px; }
      .contentt .contentd .imgg h1 {
        width: 100%;
        color: white; }
