* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
   
    outline: none;
}

body,html {
  width: 100%;
  height: 100%;

    outline: none;
    font-family: 'Montserrat', sans-serif;
}

.root {
  width: 100%;
  height: 56px;
  background-color: #fff;

  
ul.menu {
  position: relative;

  & img{
    list-style: none;
    float: left;
    margin-left: 20%;
    margin-top: 7px;
  }
  
  & li {
    float: left;
    padding: 0px 20px;
    line-height: 56px;
    list-style: none;
  
  }
  
  & li a {
    text-decoration: none;
    color: #333;
  }
  & li img {
    margin-top: 100%;
  
  }

  & .subitem {
    margin-left: 45%;
    
  }
}
}


.roott {
width: 100%;
height: 56px;

background: rgb(202, 199, 199);
mix-blend-mode: normal;
opacity: 0.9;
}

.roott-item {
  display: flex;
  position: relative;
  top: 8px;
  left: 0px;
}
.roott-item p {
  font-weight: bold;
  position: absolute;
  top: 10px;
  margin-left: 20%;
}

.roott-item img {
 position: absolute;
 top: -15px;
}
.roott-button {
  margin-left: 63%;
  margin-top: 3px;
  & * {
    padding: 0px 25px;
    text-decoration: none;
  }

  & a {
    color: #000;
  }

  & input[type='button'] {
    width: 122px; 
    padding: 10px;
    background: #C15952;
border-radius: 16px;
border: none;
color: #fff;
  }
}

.roott img {
  height: 30px;
  margin-top: 10px;
}
.contentt {
  background-image: url('../images/60X80 1.png');
  background-size: cover;

.content {
  background-image: url('../images/image4.png');
  width: 100%;  
  background-size: cover;
  

  & .content1 {
    width: 100%;
    text-align: center;

    & h1 {
   
          position: relative;
          top:50px;
      
      background: linear-gradient(to right, #1CAFDD,#6EE3B5, #6AE0B5);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 72px;
        font-style: normal;
      font-weight: bold;
      font-size: 90px;
      line-height: 110px;
    }

    & span {
      position: relative;
      top:50px;
      color: #fff;
    }


    
  }

  & .content-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 750px;
    & .citem {
      width: 217px;
      height: 210px;
      margin-left: 30px;


      background: linear-gradient(180deg, rgba(0, 126, 242, 0.14) 0%, rgba(196, 196, 196, 0) 100%);
      border-radius: 10px;

      justify-content: center;
      text-align: center;
      & img {
        position: relative; 
        top: -30px;

      }

      & p {
        font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 140%;
text-align: center;
color: #FFFFFF;
      }
    }
  }
}

& .baohanh {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 200px;


  & .bh-item {

color: white;
margin-left: 40px;
margin-right: 40px;

& span {
  font-size: 70px;
}


& img:nth-child(1) {
  width: 82px;
  height: 81px;
}

& img:nth-child(2) {
  width: 67px;
  height: 73px;
}
  }
}

& .contentd {
  background-image: url('../images/60.png');
  background-size: cover;
  width: 100%;
  height: 1900px;
  

    & .imgg {
      text-align: center;
      margin-top: 38px;

    }

    & .info1 {
      display: flex;
      justify-content: center;
      margin-top: 60px;

      & .infoo {  
        text-align: center;
        justify-content: center;
        align-items: center;
        text-align: left;
        height: 40vh;

        &:nth-child(1) {
          width: 350px;
          height: 219px;
          font-family: Montserrat;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;        
          color: #FFFFFF;
          margin-right: 100px;
        }

        &:nth-child(2) {
          width: 455px;
          height: 231px;
        
          font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 170%;
color: #DFE3EE;
        }


        }
      }

      & .info2 {
        text-align: center;
        justify-content: center;
        & .color {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          & .color-item:nth-child(1) {

            width: 92px;
            height: 80px;
            margin-left: 20px;
            margin-right: 20px;
          }
          & .color-item {

            width: 74px;
            height: 80px;
            margin-left: 20px;
            margin-right: 20px;
            position: relative;
            & p {
              font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
text-align: center;

color: #FFFFFF;
            }

            &:nth-child(1) .color-i {
              width: 20px;
              height: 20px;
              background: linear-gradient(206.57deg, rgba(9, 9, 9, 0) 0%, #3C3C3C 83.33%);
              border-radius: 4px;
              transform: matrix(1, 0, 0, -1, 0, 0);
              position: absolute;
              top: 60px;
              left: 40%;
            }

            &:nth-child(2) .color-i {
              width: 20px;
              height: 20px;
              background: linear-gradient(218.45deg, #1F8692 0.61%, #1F8692 48.5%, #3859C2 77.87%);
border-radius: 4px;
transform: matrix(1, 0, 0, -1, 0, 0);
position: absolute;
top: 60px;
              left: 40%;

            }

            &:nth-child(3) .color-i {
              width: 20px;
              height: 20px;
              background: linear-gradient(206.57deg, #0877B5 49.48%, rgba(31, 228, 200, 0.76) 83.33%);
              border-radius: 4px;
              transform: matrix(1, 0, 0, -1, 0, 0);
              position: absolute;
              top: 60px;
              left: 40%;
            }

            &:nth-child(4) .color-i {
              width: 20px;
              height: 20px;
              background: linear-gradient(206.57deg, #7104A4 21.27%, rgba(46, 117, 193, 0.83) 83.33%);
border-radius: 4px;
transform: matrix(1, 0, 0, -1, 0, 0);
position: absolute;
top: 60px;
              left: 40%;
            }


          }
        
        }
      }
    }


}



