doctype html
html
    head

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Vsmart Active 3
        link(rel='stylesheet' href='./css/style.css')
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet")
    body

        //-ghi code ở đây
        #menu
            .root               
                ul.menu
                    
                    img(src="./images/Combined Shape.png", alt="vmart")
                    .subitem
                        li
                            a(href="#") Phone
                        li
                            a(href="#") TV
                        li
                            a(href="#") About VSmart
                        li
                            a(href="#") Support
                        li
                            a(href="#") Where to buy
                        li
                            a(href="#")
                                img(src='./images/search.png')

        
        .roott
            .roott-item
                p.tselect VSmart Active 3
                        img(src="./images/select.png", alt="")
                .roott-button
                    a(href="#") Overview
                    a(href="") Specs
                    input(type="button", value="Pre-Order")
        
        .content
            .content1
       
                h1 Active 3
                span Chất sang chảnh - chuẩn hình ảnh
               

                    
                                
        //- script(src='./js/all.js')
        //- script(src='./js/demo.js')
        //-ghi code ở đây
