doctype html
html
    head

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Vsmart Active 3
        link(rel='stylesheet' href='./css/style.css')
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet")
    body
        //-Copyright by Tiendatmagic
        //-ghi code ở đây
        #menu
            .root               
                ul.menu
                    
                    img(src="./images/Combined Shape.png", alt="vmart")
                    .subitem
                        li
                            a(href="#") Phone
                        li
                            a(href="#") TV
                        li
                            a(href="#") About VSmart
                        li
                            a(href="#") Support
                        li
                            a(href="#") Where to buy
                        li
                            a(href="#")
                                img(src='./images/search.png')

        
        .roott
            .roott-item
                p.tselect VSmart Active 3
                        img(src="./images/select.png", alt="")
                .roott-button
                    a(href="#") Overview
                    a(href="") Specs
                    input(type="button", value="Pre-Order")
        .contentt
            .content
                .content1
        
                    h1 Active 3
                    span Chất sang chảnh - chuẩn hình ảnh
                
                .content-item
                    .citem
                        img(src="./images/active3-thiet-ke-mat-lung.png", alt="")
                        p Thiết kế mặt lưng tràn ánh sáng
                    .citem
                        img(src="./images/active3-man-hinh-amoled.png", alt="")
                        p Màn hình AMOLED 6.39" tràn viền
                    .citem
                        img(src="./images/active3-camera-truot.png", alt="")
                        p Camera trượt 16MP ấn tượng
                    .citem
                        img(src="./images/active3-3camera-48mp.png", alt="")
                        p Bộ 3 camera 48MP siêu chụp đêm 
            .baohanh
                .bh-item
                    img(src="./images/zxv 0.png", alt="")
                    p BẢO HÀNH
                .bh-item
                    span +
                .bh-item
                    img(src="./images/zxv 1.png", alt="")
                    p 1 ĐỔI 1
                .bh-item
                    span +
                .bh-item
                    img(src="./images/Frame.png", alt="")
                    p TRẢ GÓP
            .contentd
                .imgg
                    img(src="./images/video.png", alt="")
                .info
                    .info1
                        .infoo
                            h2 Nổi bật trong đêm sắc màu
                        .infoo
                            p  Lấy cảm hứng từ sắc đêm huyền ảo, Active 3 được chế tác tinh xảo tạo nên mặt lưng 3D chuyển màu khi tương tác với ánh sáng.
                            br
                            p Với 4 màu sắc Xanh lục bảo, Xanh sapphire, Tím ngọc và Đen thạch anh, Active 3 sẽ khiến bạn trở bạn trở thành tâm điểm của sự chú ý.

                    .info2
                        .infoo
                            img(src="./images/active3-cac-phien-ban.png", alt="")
                            .color
                                .color-item
                                    p Đen thạch anh
                                    .color-i

                                .color-item
                                    p Xanh lục bảo
                                    .color-i

                                .color-item
                                    p Xanh Saphire
                                    .color-i
                                
                                .color-item
                                    p Tím ngọc
                                    .color-i
            .contente
                .contentee
                    .info-item
                        img(src="./images/active3-man-hinh-vuot-chuan.png", alt="")
                    .info-item
                        h2 Màn hình vượt chuẩn tầm nhìn
                        br
                        p Trải nghiệm đã hơn với màn hình tràn viền 6.39” AMOLED sống động rực rỡ với tỉ lệ màn hình so với thân máy là 92% kết hợp viền mỏng 8,6mm. Với Active 3, hãy tận hưởng trải nghiệm giải trí vô tận với màn hình vượt chuẩn tầm nhìn.
                        .box
                            .box-item
                                span Màn hình sống động
                                br
                                span 
                                    b   6.39” AMOLED
                            .box-item
                                span Tỉ lệ màn hình
                                br
                                span
                                    b   19.5:9 
                            .box-item
                                span Độ phân giải FullHD+ 
                                br
                                span 
                                    b   2340 x 1080
                .contentef
                    .info-item
                        .info-in
                            h2 Camera selfie trượt đầy mê hoặc
                            br
                            p Thật ấn tượng với camera selfie sẽ tự động bật lên và thu lại theo thao tác chụp ảnh selfie của bạn.
                            br
                            p Bên cạnh đó, độ phân giải 16MP cùng thuật toán làm đẹp AI Beauty sẽ cho bạn những bức ảnh selfie cực kì thú vị.
                        
                        
                    .info-item
                        img(src="./images/Emerald Green 9 1.png", alt="")

                .contenteg
                    .info-item
                        .info-in
                            h2 Camera selfie trượt đầy mê hoặc
                            br
                            p Thật ấn tượng với camera selfie sẽ tự động bật lên và thu lại theo thao tác chụp ảnh selfie của bạn.
                            br
                            p Bên cạnh đó, độ phân giải 16MP cùng thuật toán làm đẹp AI Beauty sẽ cho bạn những bức ảnh selfie cực kì thú vị.
                        
                        
                    .info-item
                        img(src="./images/active3-camera-truot-me-hoac.png", alt="")
                        .selectimg
                            .sss
                            .sss
                            .sss
                .content2       
                    .contenth
                        .info-item
                            .info-in
                                h2 Bộ 3 camera 48MP chuyên nghiệp
                                br
                                p Active 3 là hội tụ hoàn hảo của 3 camera: Camera 48MP siêu sắc nét, camera 8MP góc siêu rộng và camera 2MP xóa phông chuyên nghiệp. Với Active 3, cực kì dễ dàng để ghi lại mọi khoảnh khắc đẹp cho mọi nhu cầu chụp ảnh của bạn.
                            
                        .info-item
                            img(src="./images/Emerald Green 4 1.png", alt="")
                    
                    .contenti
                        .info-item
                            p 8MP
                            span Camera góc rộng 118.8º + 5P Lens + f/2.2
                            .circle  
                            .line1
                            .line2
                            .lcircle

                        .info-item
                            p 48MP
                            span Cảm biến GM1 + 6P Lens+ f/1.79
                            .circle  
                            .line1
                            .line2
                            .lcircle

                        .info-item
                            p 2MP
                            span Camera xóa phông chuyên nghiệp
                            .circle
                            .line1
                            .line2
                            .lcircle
                        .iimg
                            img(src="./images/Emerald Green 4 2.png", alt="")
                    .contentj
                        h2 Bắt trọn khung hình ánh sáng 
                        p Cảm biến 48MP GM1 ISOCELL kích thước ½ inch có khả năng ghi nhận ánh sáng vượt trội, thuật toán trí tuệnhân tạo AI sẽ cho ra đời những tác phẩm nghệ thuậtsắc nét và chi tiết nhất ở mọi môi trường, ngay cả trong điều kiện ánh sáng yếu.
                    .contentk
                        h2 Camera góc siêu rộng 118°
                        p Camera 8MP góc siêu rộng lên đến 118 độ dễ dàng bao quát khung cảnh rộng lớn trong 1 khung hình. Những dãy núi hùng vĩ, công trình kiến trúc tráng lệ sẽ được ghi nhận ở góc nhìn mới hơn, thoải mái hơn mà ống kính bình thường không thể làm được.
                        img(src="./images/active3-camera-goc-rong-1.png", alt="")
                        .backimg
                    .contentl
                        .item-info
                            h2 Ảnh chân dung hoàn hảo
                        .item-info
                            p Ảnh chân dung hoàn hảo với camera cho phép tùy chỉnh mức độ xóa phông để bạn nổi bật, trở thành tiêu điểm của mọi ánh nhìn.
                    .contentm
                        img(src="./images/w1.png", alt="")
                        img(src="./images/w2.png", alt="")
                        img(src="./images/w3.png", alt="")
                        img(src="./images/w4.png", alt="")
                    
                    .contentn
                        .item-info
                            img(src="./images/Group 226.png", alt="")
                            .selectimg
                                .sss
                                .sss
                                .sss
                        .item-info
                            h2 Bộ lọc màu chính thức từ Google Photos
                            p Thỏa sức sáng tạo những bức ảnh đậm chất nghệ thuật với 12 chế độ lọc màu cho phép xem trước tiện lợi từ chính giao diện máy ảnh.                    
                    .contento
                        .contento1
                            .item-info
                                h2 Hiệu năng đỉnh, xử lý mượt mà
                                p Chip 8 nhân xung nhịp lên đến 2.0GHz cải tiến hiệu suất hiệu quả, đồng thời giảm tiêu thụ điện năng tối đa. Cho dù những tác vụ nặng như chơi game hay đa nhiệm Active 3 cũng xử lý rất mượt mà.
                            .item-info
                                img(src="./images/shutterstock_1196754286 1.png", alt="")
                        .content02
                            .item-info
                                h2 Dung lượng pin mạnh mẽ
                            .item-info
                                p Ngày trở nên nhiều năng lượng hơn với sự kết hợp tuyệt vời từ dung lượng pin lớn 4020mAh và hệ thống tối ưu điện năng trên từng ứng dụng độc lập của hệ điều hành VOS 2.5
                        .content03
                            img(src="./images/Frame 34.png", alt="")
                            .item
                                .item-info
                                    h2 270 giờ
                                    .line
                                    p Thời gian chờ
                                .item-info
                                    h2 34 giờ
                                    .line
                                    p Gọi điện

                                .item-info
                                    h2 16 giờ
                                    .line
                                    p Lướt web
                                .item-info
                                    h2 65 giờ
                                    .line
                                    p Chơi game cơ bản
                    .contentp
                        h1 abc
                            
        //- script(src='./js/all.js')
        //- script(src='./js/demo.js')
        //-ghi code ở đây
              //-Copyright by Tiendatmagic