doctype html
html
    head

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Vsmart Active 3
        link(rel='stylesheet' href='./css/style.css')
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet")
    body
        //-Copyright by Tiendatmagic
        //-ghi code ở đây
        #menu
            .root               
                ul.menu
                    
                    img(src="./images/Combined Shape.png", alt="vmart")
                    .subitem
                        li
                            a(href="#") Phone
                        li
                            a(href="#") TV
                        li
                            a(href="#") About VSmart
                        li
                            a(href="#") Support
                        li
                            a(href="#") Where to buy
                        li
                            a(href="#")
                                img(src='./images/search.png')

        
        .roott
            .roott-item
                p.tselect VSmart Active 3
                        img(src="./images/select.png", alt="")
                .roott-button
                    a(href="#") Overview
                    a(href="") Specs
                    input(type="button", value="Pre-Order")
        .contentt
            .content
                .content1
        
                    h1 Active 3
                    span Chất sang chảnh - chuẩn hình ảnh
                
                .content-item
                    .citem
                        img(src="./images/active3-thiet-ke-mat-lung.png", alt="")
                        p Thiết kế mặt lưng tràn ánh sáng
                    .citem
                        img(src="./images/active3-man-hinh-amoled.png", alt="")
                        p Màn hình AMOLED 6.39" tràn viền
                    .citem
                        img(src="./images/active3-camera-truot.png", alt="")
                        p Camera trượt 16MP ấn tượng
                    .citem
                        img(src="./images/active3-3camera-48mp.png", alt="")
                        p Bộ 3 camera 48MP siêu chụp đêm 
            .baohanh
                .bh-item
                    img(src="./images/zxv 0.png", alt="")
                    p BẢO HÀNH
                .bh-item
                    span +
                .bh-item
                    img(src="./images/zxv 1.png", alt="")
                    p 1 ĐỔI 1
                .bh-item
                    span +
                .bh-item
                    img(src="./images/Frame.png", alt="")
                    p TRẢ GÓP
            .contentd
                .imgg
                    img(src="./images/video.png", alt="")
                .info
                    .info1
                        .infoo
                            h2 Nổi bật trong đêm sắc màu
                        .infoo
                            p  Lấy cảm hứng từ sắc đêm huyền ảo, Active 3 được chế tác tinh xảo tạo nên mặt lưng 3D chuyển màu khi tương tác với ánh sáng.
                            br
                            p Với 4 màu sắc Xanh lục bảo, Xanh sapphire, Tím ngọc và Đen thạch anh, Active 3 sẽ khiến bạn trở bạn trở thành tâm điểm của sự chú ý.

                    .info2
                        .infoo
                            img(src="./images/active3-cac-phien-ban.png", alt="")
                            .color
                                .color-item
                                    p Đen thạch anh
                                    .color-i

                                .color-item
                                    p Xanh lục bảo
                                    .color-i

                                .color-item
                                    p Xanh Saphire
                                    .color-i
                                
                                .color-item
                                    p Tím ngọc
                                    .color-i
            .contente
                .contentee
                    .info-item
                        img(src="./images/active3-man-hinh-vuot-chuan.png", alt="")
                    .info-item
                        h2 Màn hình vượt chuẩn tầm nhìn
                        br
                        p Trải nghiệm đã hơn với màn hình tràn viền 6.39” AMOLED sống động rực rỡ với tỉ lệ màn hình so với thân máy là 92% kết hợp viền mỏng 8,6mm. Với Active 3, hãy tận hưởng trải nghiệm giải trí vô tận với màn hình vượt chuẩn tầm nhìn.
                        .box
                            .box-item
                                span Màn hình sống động 6.39”
                                br
                                span 
                                    b   AMOLED
                            .box-item
                                span Tỉ lệ màn hình
                                br
                                span
                                    b   19.5:9 
                            .box-item
                                span Độ phân giải FullHD+ 
                                br
                                span 
                                    b   2340 x 1080
                .contentef
                    .info-item
                        .info-in
                            h2 Camera selfie trượt đầy mê hoặc
                            br
                            p Thật ấn tượng với camera selfie sẽ tự động bật lên và thu lại theo thao tác chụp ảnh selfie của bạn.
                            br
                            p Bên cạnh đó, độ phân giải 16MP cùng thuật toán làm đẹp AI Beauty sẽ cho bạn những bức ảnh selfie cực kì thú vị.
                        
                        
                    .info-item
                        img(src="./images/Emerald Green 9 1.png", alt="")


        //- script(src='./js/all.js')
        //- script(src='./js/demo.js')
        //-ghi code ở đây
              //-Copyright by Tiendatmagic
