doctype html
html
    head

        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Demo
        link(rel='stylesheet' href='./css/style.css')
    body
        //-ghi code ở đây

        h1 Tiendatmagic
        script(src='./js/all.js')
        script(src='./js/demo.js')
        //-ghi code ở đây
